<h4>
    Login
</h4>

<form method="post">
    <label>Usuario:</label>
    <input type="text" name="username" placeholder="Usuario" class="form-control" />
    <label>Password:</label>
    <input type="text" name="password" placeholder="Contraseña" class="form-control" class="mb-2" />
    <button class="btn btn-info mb-2">
        Login
    </button>
</form>

<h4>
    @ViewData["MENSAJE"]
</h4>